<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" name="viewport" />
    <title>配置列表</title>
    <link rel="stylesheet" href="/public/css/layout.css">
    <link rel="stylesheet" href="/public/css/beautify.css">
    <script src="/public/js/jquery-1.11.3.min.js"></script>
    <script src="/public/js/layout.js"></script>
    <style>
        input{
            background: #eaeaea;
            height: 30px;
        }
    </style>
</head>
<body>
	   <div style="height: 35px;line-height: 35px;">&nbsp;</div>
       <div col="100%" style="height: 35px;line-height: 35px;" class="f-ly-column f-bg-fbfbd9 f-ft-size-12 f-bg-ff f-ly-margin-l-16 f-ly-margin-r-16 f-ly-padding-l-16 f-ly-text-align" >
			            	<div col="20%" class="f-word-ellipsis">域名</div>
			            	<div col="20%" class="f-word-ellipsis">IP</div>
			            	<div col="20%" class="f-word-ellipsis">密码</div>
			            	<div col="20%" class="f-word-ellipsis">加密方法</div>
			            	<div col="20%" class="f-word-ellipsis">端口</div>
		        </div>
        		#{list items:pageData.list,as:'data'}        
			        <div style="height: 35px;line-height: 35px;" class="f-ly-column  f-ft-size-14 f-bg-ff f-ly-margin-l-16 f-ly-margin-r-16  f-ly-margin-b-1 f-ly-padding-l-16 f-ly-text-align">
			            <div col="20%"  class="f-word-ellipsis">${data.domainName}</div>
			            <div col="20%"  class="f-word-ellipsis">${data.domainIp}</div>
			            <div col="20%"  class="f-word-ellipsis">${data.password}</div>
			            <div col="20%"  class="f-word-ellipsis">${data.encryMethod}</div>
			            <div col="20%"  class="f-word-ellipsis">${data.port}</div>
		            </div>
			    #{/list}
	        <div col="100%" class=" " style="padding: 16px;text-align: center;margin:auto;">
	            #{include file="web/common/page_new.html" /}
	        </div>
	    </div>
	    </div>
</div>   
</body>
<script type="text/javascript">
	var maxW = -1;
	var h = $(document).height();
	$(".left-nav").height(h);
</script>
</html>